.button {
  font-family: 'Roboto Condensed';
  font-size: 1.375rem;
  font-weight: lighter;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  border: 0;
  border-radius: 11px;
  padding: 1.125rem 1.875rem;
  box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: opacity 0.3s;
}

.button:hover {
  opacity: 0.8;
  transition: opacity 0.3s;
}

#buttonDefault {
  background: linear-gradient(to right, #613bee 0%, #7f18ff 50%, #613bee 100%);
  color: white;
}
