body {
    margin: 0;
    height: 100vh;
}

#app {
    font-family: 'Roboto Condensed';
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    background-image: linear-gradient(
        to bottom,
        #fd6770 0%,
        rgb(255, 255, 255) 100%
    );
}
