#accountSection {
  display: grid;
  grid-template-rows: 0.5fr 5fr;
  width: 400px;
  height: 430px;
  padding: 45px 70px;
  background-color: white;
  border-radius: 10px;
  box-shadow: -3px 10px 10px 10px rgba(0, 0, 0, 0.3);
}

#profileIcon {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

#accountInnerContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 20px;
}

#paymentMethodsLink {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 1px solid #989898;
}

#profileInfoContainer {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}

#accountMainDataText {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  gap: 5px;
  color: #787878;
  text-align: start;
}

#nameText {
  font-size: 24px;
  color: #7f18ff;
}

#otherInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.otherInfoInnerContainer {
  display: flex;
  justify-content: space-between;
  color: #787878;
  padding: 5px;
}

.otherInfoInnerContainer span:first-child {
  color: black;
}

#paymentCardContainer {
  text-decoration: none;
}

#paymentCardContainer span:first-child {
  color: black;
  transition: color 0.3s;
}

#paymentCardContainer:hover span:first-child {
  color: #7f18ff;
  transition: color 0.3s;
}
