#accountSection {
  display: grid;
  grid-template: 2.1875rem 1fr / 1fr;
  row-gap: 0.625rem;
  max-width: 500px;
  max-height: 500px;
  min-width: 300px;
  min-height: 300px;
  border-radius: 10px;
  background-color: white;
  box-shadow: -3px 10px 10px 10px rgba(0, 0, 0, 0.3);
  padding: 2.8rem 3.75rem;
}

#profileIcon {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

#accountInnerContainer {
  display: grid;
  grid-template: 9.375rem 11.25rem / 9.375rem 1fr;
  gap: 0.5rem;
  align-items: center;
}

#paymentMethodsLink {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 1px solid #989898;
}

#profileInfoContainer {
  display: flex;
  flex-direction: row;
  gap: 1.875rem;
  align-items: center;
}

#accountMainDataText {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  gap: 5px;
  color: #787878;
  text-align: start;
}

#nameText {
  font-size: 1.4rem;
  color: #7f18ff;
}

#otherInfoContainer {
  grid-column: 1 / 3;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.otherInfoInnerContainer {
  display: flex;
  justify-content: space-between;
  color: #787878;
  padding: 5px;
  font-size: 1rem;
}

.otherInfoInnerContainer span:first-child {
  color: black;
}

#paymentCardContainer {
  text-decoration: none;
}

#paymentCardContainer span:first-child {
  color: black;
  transition: color 0.3s;
}

#paymentCardContainer:hover span:first-child {
  color: #7f18ff;
  transition: color 0.3s;
}

@media (max-width: 400px) {
  #accountInnerContainer {
    grid-template: 8.5rem 8.5rem /8.5rem 1fr;
  }
  #accountSection {
    width: 100%;
    padding: 2rem 2rem;
  }
}
