<nav id="card-choose-form-nav">
    <span>Account</span>
    <span>Payment methods</span>
</nav>
<div>
    <span>Choose your payment method</span>
</div>
<section id="card-choose-form-cards-section">
    <div class="card-choose-form-card-container">
        <div class="card-choose-form-card-data-container">
            <div class="card-choose-form-card-data">
                <img
                    id="card-choose-form-visa-icon"
                    src="/images/visa.png"
                    alt="" />
                <span id="card-choose-form-card-number"
                    >XXXX XXXX XXXX 8908</span
                >
                <span
                    style="
                        font-size: 11px;
                        justify-self: center;
                        align-self: center;
                    "
                    >Expires</span
                >
                <div class="card-choose-form-card-other-data">
                    <span style="font-weight: 600; font-style: italic"
                        >09/27</span
                    >
                    <span style="font-weight: bold">Default</span>
                </div>
            </div>
        </div>

        <span class="card-choose-form-select-circle">
            <svg
                id="card-choose-form-select-icon"
                width="10"
                height="8"
                viewBox="0 0 10 8"
                fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M1.5 4.5L4 6.5L9 1"
                    stroke="white"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>
        </span>
    </div>
    <div class="card-choose-form-card-container">
        <div class="card-choose-form-card-data-container">
            <div class="card-choose-form-card-data">
                <img
                    id="card-choose-form-mastercard-icon"
                    src="/images/mastercard.png"
                    alt="" />
                <span id="card-choose-form-card-number"
                    >XXXX XXXX XXXX 7777</span
                >
                <span
                    style="
                        font-size: 11px;
                        justify-self: center;
                        align-self: center;
                    "
                    >Expires</span
                >
                <div class="card-choose-form-card-other-data">
                    <span style="font-weight: 600; font-style: italic"
                        >01/24</span
                    >
                    <span style="font-weight: bold">Default</span>
                </div>
            </div>
        </div>

        <span class="card-choose-form-select-circle">
            <svg
                id="card-choose-form-select-icon"
                width="10"
                height="8"
                viewBox="0 0 10 8"
                fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M1.5 4.5L4 6.5L9 1"
                    stroke="white"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>
        </span>
    </div>
    <div class="card-choose-form-card-container">
        <div class="card-choose-form-card-data-container">
            <div class="card-choose-form-card-data">
                <img
                    id="card-choose-form-paypal-icon"
                    src="/images/paypal.png"
                    alt="" />
                <span id="card-choose-form-card-number"
                    >XXXX XXXX XXXX 6498</span
                >
                <span
                    style="
                        font-size: 11px;
                        justify-self: center;
                        align-self: center;
                    "
                    >Expires</span
                >
                <div class="card-choose-form-card-other-data">
                    <span style="font-weight: 600; font-style: italic"
                        >12/23</span
                    >
                    <span style="font-weight: bold">Default</span>
                </div>
            </div>
        </div>

        <span class="card-choose-form-select-circle">
            <svg
                id="card-choose-form-select-icon"
                width="10"
                height="8"
                viewBox="0 0 10 8"
                fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M1.5 4.5L4 6.5L9 1"
                    stroke="white"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>
        </span>
    </div>
</section>

<button>Submit</button>
