<nav id="card-choose-form-nav">
    <span>Account</span>
    <svg
        id="card-choose-form-arrow-icon"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-move-right">
        <path d="M18 8L22 12L18 16" />
        <path d="M2 12H22" />
    </svg>
    <span style="color: #6246bc">Payment methods</span>
</nav>
<div>
    <span style="font-size: 30px">Choose your payment method</span>
</div>
<section id="card-choose-form-cards-section">
    <div class="card-choose-form-card-container">
        <div class="card-choose-form-card-data-container">
            <div class="card-choose-form-card-data">
                <img
                    id="card-choose-form-visa-icon"
                    src="/images/visa.png"
                    alt="" />
                <span id="card-choose-form-card-number"
                    >XXXX XXXX XXXX 8908</span
                >
                <span style="font-size: 14px; align-self: center">Expires</span>
                <div class="card-choose-form-card-other-data">
                    <span style="font-weight: 600; font-style: italic"
                        >09/27</span
                    >
                    <span style="font-weight: bold">Default</span>
                </div>
            </div>
        </div>

        <span class="card-choose-form-select-circle">
            <svg
                id="card-choose-form-select-icon"
                width="10"
                height="8"
                viewBox="0 0 10 8"
                fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M1.5 4.5L4 6.5L9 1"
                    stroke="white"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>
        </span>
    </div>
    <div class="card-choose-form-card-container">
        <div class="card-choose-form-card-data-container">
            <div class="card-choose-form-card-data">
                <img
                    id="card-choose-form-mastercard-icon"
                    src="/images/mastercard.png"
                    alt="" />
                <span id="card-choose-form-card-number"
                    >XXXX XXXX XXXX 7777</span
                >
                <span style="font-size: 14px; align-self: center">Expires</span>
                <div class="card-choose-form-card-other-data">
                    <span style="font-weight: 600; font-style: italic"
                        >01/24</span
                    >
                    <span style="font-weight: bold">Default</span>
                </div>
            </div>
        </div>

        <span class="card-choose-form-select-circle">
            <svg
                id="card-choose-form-select-icon"
                width="10"
                height="8"
                viewBox="0 0 10 8"
                fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M1.5 4.5L4 6.5L9 1"
                    stroke="white"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>
        </span>
    </div>
    <div class="card-choose-form-card-container">
        <div class="card-choose-form-card-data-container">
            <div class="card-choose-form-card-data">
                <img
                    id="card-choose-form-paypal-icon"
                    src="/images/paypal.png"
                    alt="" />
                <span id="card-choose-form-card-number"
                    >XXXX XXXX XXXX 6498</span
                >
                <span style="font-size: 14px; align-self: center">Expires</span>
                <div class="card-choose-form-card-other-data">
                    <span style="font-weight: 600; font-style: italic"
                        >12/23</span
                    >
                    <span style="font-weight: bold">Default</span>
                </div>
            </div>
        </div>

        <span class="card-choose-form-select-circle">
            <svg
                id="card-choose-form-select-icon"
                width="10"
                height="8"
                viewBox="0 0 10 8"
                fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M1.5 4.5L4 6.5L9 1"
                    stroke="white"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>
        </span>
    </div>
    <div class="card-choose-form-card-container">
        <svg
            width="28"
            height="24"
            viewBox="0 0 28 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
                d="M1.00082 7.59529C0.994036 5.85348 1.00082 3.68104 2.23887 1.81804C4.08668 0.577608 23.8956 0.888021 25.7619 1.81804C27 3.06453 26.9932 6.47418 27 7.59529M1.00082 7.59529C0.994036 9.26731 1.00117 19.5088 2.23887 22.301C4.0866 23.233 23.8955 23.233 25.7619 22.301C27 20.1295 26.9932 8.95697 27 7.59529M1.00082 7.59529H27M5.71081 18.0994H8.37532M12.4663 18.0994H17.0686"
                stroke="#5F499E"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round" />
        </svg>
        <span>Add Payment Method</span>
    </div>
</section>
<button>Submit</button>
<script defer type="module" src="./card-choose-form.component.js"></script>
