<nav id="card-choose-form-nav">
    <span>Account</span>
    <svg
        id="card-choose-form-arrow-icon"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-move-right">
        <path d="M18 8L22 12L18 16" />
        <path d="M2 12H22" />
    </svg>
    <span style="color: #6246bc">Payment methods</span>
</nav>
<div>
    <span style="font-size: 30px">Choose your payment method</span>
</div>
<section id="card-choose-form-cards-section"></section>
<button>Submit</button>
<script defer type="module" src="./card-choose-form.component.js"></script>
