.card-edit-form-container {
  display: flex;
  flex-direction: column;
  height: 36.25rem;
  width: 35rem;
  max-height: 580px;
  max-width: 560px;
  background-color: white;
  border-radius: 10px;
  box-shadow: -3px 10px 10px 10px rgba(0, 0, 0, 0.3);
  opacity: 0;
  scale: 0;
  transition: scale 0.5s, opacity 0.5s;
  margin: 20px;
}

.edit-form-show {
  scale: 1;
  opacity: 1;
  transition: scale 0.5s, opacity 0.5s;
}

#card-edit-form-card-container {
  height: 50%;
  border-radius: 10px 10px 0 0;
  background-color: #ffbfd7;
  padding: 2.5rem 5.625rem;
}

#card-edit-form-card {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(to bottom right, #1f144a 0%, #7537c6 50%, #eb0373 100%);
}

#card-edit-form-card span {
  color: white;
}

#card-edit-form-visa-icon {
  rotate: -90deg;
  width: 3.75rem;
  height: 1.125rem;
}

#card-edit-form-mastercard-icon {
  width: 2rem;
  height: 1.25rem;
  align-self: center;
}

#card-edit-form-paypal-icon {
  width: 1.625rem;
  height: 1.625rem;
  align-self: center;
}

#card-edit-form-mir-icon {
  width: 2.875rem;
  height: 1.125rem;
  align-self: center;
}

#card-edit-form-unionpay-icon {
  width: 2.375rem;
  height: 1.375rem;
  align-self: center;
}

.card-edit-form-payment-system {
  margin: 0 0 20px 0;
  justify-self: end;
  align-self: flex-end;
}

#card-edit-form-chip-icon {
  margin-left: 1.75rem;
  width: 2.125rem;
  height: 2rem;
}

#card-edit-form-button-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.1875rem;
  align-items: center;
}

#card-edit-form-editor {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}

#card-edit-form-card-data-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 1.25rem;
  padding: 1.25rem;
}

#card-edit-form-card-data-inner-container {
  display: flex;
  gap: 0.625rem;
  flex-direction: column;
}

#card-edit-form-card-data-inner-upper-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#card-edit-form-card-data-inner-lower-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#card-edit-form-cancel-button {
  background: white;
  color: #613bee;
}

input {
  outline: none;
  font-size: 1rem;
  border: 0;
  background-color: #d9d9d9;
  padding: 0.5rem;
  border-radius: 4px;
}

@media (max-width: 1110px) {
  .card-edit-form-container {
    position: fixed;
  }
}

@media (max-width: 560px) {
  .card-edit-form-container {
    width: 100%;
  }

  #card-edit-form-card {
    min-height: 150px;
    min-width: 240px;
  }
}

@media (max-width: 400px) {
  .card-edit-form-container {
    height: auto;
    max-height: none;
  }

  #card-edit-form-card-container {
    height: 50%;
    border-radius: 10px 10px 0 0;
    background-color: #ffbfd7;
    display: flex;
    justify-content: center;
    padding: 4rem 2rem;
  }

  #card-edit-form-editor {
    display: grid;
    grid-template-columns: none;
    grid-template: 1fr 1fr 1fr 1fr;
    gap: 0.8rem;
  }

  #card-edit-form-button-container {
    grid-template: 1fr 1fr / 1fr;
    gap: 1.5rem;
    align-items: center;
  }

  #card-edit-form-card {
    min-height: 150px;
    max-width: 280px;
  }
}
