.navContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  margin: 0 0 12px 0;
  font-size: 14px;
}

.navContainer a {
  color: black;
  text-decoration: none;
}

.navContainer a:hover {
  text-decoration: underline;
}

.account a:first-child {
  color: #7f18ff;
  text-decoration: none;
}

.paymentMethods a:last-child {
  color: #7f18ff;
  text-decoration: none;
}
